<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../css-normalise.css">
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
        <div class="box fixed"></div>
        
        <h1>Layout - Absolute Positioning Model</h1>
        <p><em>Absolute Position</em> positions the element offset from the containing block.</p>
        <ul>
            <li>The containing block is the closest ancestor that is also positioned (not static).</li>
            <li>Removed from normal flow, and does not impact positions of later siblings.</li>
            <li>Creates a new containing block for child elements</li>
            <li>Offset from the containg block using <i>top, bottom, right, and bottom</i></li>
            <li>Without a <i>width</i>, specifying <i>left</i> and <i>right</i> will apply a width to a positioned element. Otherwise left takes precedence.</li>
        </ul>

        <p><em>Fixed Positioning</em> positions the element box offset from the viewport of the screen.</p>
        <ul>
            <li>Special case of absolute poisiting.</li>
            <li></li>
            <li></li>
        </ul>

        <div class="container">
            <div class="box absolute"></div>
        </div>
    </body>
</html>