<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../css-normalise.css">
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
        <div class="box fixed">
        </div>
        <div class="box normal">
        </div>

        <h1>CSS Layout : Fixed Position</h1>
        <p><em>Fixed Positioning</em> positions the element relative to the viewport of the screen. top, left, right, and bottom        attributes work as intended.
        </p>
        <ul>
            <li></li>
        </ul>
    </body>
</html>