<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../css-normalise.css">
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Layout - Flex Box Model</h1>
        <p><em></em> positions the element offset from the containing block.</p>
        <ul>
            <li>flow direction</li>
            <li>display order</li>
            <li>axes, main and cross</li>
            <li>flexible sizes</li>
            <li>alignment</li>
            <li>collapsing along main axis</li>
        </ul>
    </body>
</html>